<template>
  <div>
    <h1 class="m-4">CEO</h1>
    <h2 class="titulo mb-4 m-4">Evolução das Compras e das Vendas por Mês/Ano (em Euros)</h2>
    <h5>Total de compras relativas a um ano: {{total_despesas}}€</h5>
    <h5>Total de vendas relativas a um ano: {{total_lucros}}€</h5>
    <h5 class="mb-4">Margem Bruta relativa a um ano: {{total}}€</h5>

    <div class="row mx-3">
      <div class="col d-flex justify-content-center">
        <div>
          <mdb-bar-chart
            :data="barChartData_Total"
            :options="barChartOptions_Total"
            :width="600"
            :height="500"
          ></mdb-bar-chart>
        </div>
      </div>

      <div class="col d-flex justify-content-center">
        <div class="w-100">
          <div class="text-left" style="height: 400px;">
            <mdb-line-chart
              :data="lineChartData"
              :options="lineChartOptions"
              :width="600"
              :height="500"
            ></mdb-line-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col"></div>
      <div class="col">
        <label class="label">Escolher ano:</label>
        <select
          v-model="selected_ano_Total"
          class="custom-select"
          @change="getTotal(), getTotal_2(), getTotalDespesas(), getTotalLucros()"
        >
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
        </select>
      </div>
      <div class="col"></div>
    </div>
  </div>
</template>


<script>
const axios = require("axios");

import { mdbBarChart, mdbLineChart } from "mdbvue";

export default {
  name: "ChartPage",
  components: {
    mdbBarChart,
    mdbLineChart
  },
  data() {
    return {
      barChartData_Total: null,
      barChartOptions_Total: null,
      selected_ano_Total: "2020",

      lineChartData: null,
      lineChartOptions: null,

      total_despesas: 0,
      total_lucros: 0,
      total:0
      
    };
  },
  created() {
    this.getTotal();
    this.getTotal_2();
    this.getTotalDespesas();
    this.getTotalLucros();
  },
  methods: {
    getTotal() {
      var despesas = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
      var lucros = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

      axios
        .get(
          "https://localhost:44320/api/Despesas/DespesasPorMes_Ano?ano=" +
            this.selected_ano_Total
        )
        .then(response => {
          response.data.forEach(element => {
            despesas[element.mes - 1] = element.valor;
          });

          axios
            .get(
              "https://localhost:44320/api/Vendas/VendasPorMes_Ano?ano=" +
                this.selected_ano_Total
            )
            .then(response => {
              response.data.forEach(element => {
                lucros[element.mes - 1] = element.valor;
              });
              return response;
            })
            .catch(error => {
              console.log("mau");
              return error;
            })
            .finally(fin => {
              this.barChartData_Total = {
                labels: [
                  "Janeiro",
                  "Fevereiro",
                  "Março",
                  "Abril",
                  "Maio",
                  "Junho",
                  "Julho",
                  "Agosto",
                  "Setembro",
                  "Outubro",
                  "Novembro",
                  "Dezembro"
                ],
                datasets: [
                  {
                    label: "Despesas",
                    data: despesas,
                    backgroundColor: [
                      "rgba(255, 99, 132, 0.2)",
                      "rgba(255, 99, 132, 0.2)",
                      "rgba(255, 99, 132, 0.2)",
                      "rgba(255, 99, 132, 0.2)",
                      "rgba(255, 99, 132, 0.2)",
                      "rgba(255, 99, 132, 0.2)",
                      "rgba(255, 99, 132, 0.2)",
                      "rgba(255, 99, 132, 0.2)",
                      "rgba(255, 99, 132, 0.2)",
                      "rgba(255, 99, 132, 0.2)",
                      "rgba(255, 99, 132, 0.2)",
                      "rgba(255, 99, 132, 0.2)"
                    ],
                    borderColor: [
                      "rgba(255, 99, 132, 1)",
                      "rgba(255, 99, 132, 1)",
                      "rgba(255, 99, 132, 1)",
                      "rgba(255, 99, 132, 1)",
                      "rgba(255, 99, 132, 1)",
                      "rgba(255, 99, 132, 1)",
                      "rgba(255, 99, 132, 1)",
                      "rgba(255, 99, 132, 1)",
                      "rgba(255, 99, 132, 1)",
                      "rgba(255, 99, 132, 1)",
                      "rgba(255, 99, 132, 1)",
                      "rgba(255, 99, 132, 1)"
                    ],
                    borderWidth: 2
                  },
                  {
                    label: "Lucros",
                    data: lucros,
                    backgroundColor: [
                      "rgba(0, 255, 255, 0.2)",
                      "rgba(0, 255, 255, 0.2)",
                      "rgba(0, 255, 255, 0.2)",
                      "rgba(0, 255, 255, 0.2)",
                      "rgba(0, 255, 255, 0.2)",
                      "rgba(0, 255, 255, 0.2)",
                      "rgba(0, 255, 255, 0.2)",
                      "rgba(0, 255, 255, 0.2)",
                      "rgba(0, 255, 255, 0.2)",
                      "rgba(0, 255, 255, 0.2)",
                      "rgba(0, 255, 255, 0.2)",
                      "rgba(0, 255, 255, 0.2)"
                    ],
                    borderColor: [
                      "rgba(0, 255, 255, 1)",
                      "rgba(0, 255, 255, 1)",
                      "rgba(0, 255, 255, 1)",
                      "rgba(0, 255, 255, 1)",
                      "rgba(0, 255, 255, 1)",
                      "rgba(0, 255, 255, 1)",
                      "rgba(0, 255, 255, 1)",
                      "rgba(0, 255, 255, 1)",
                      "rgba(0, 255, 255, 1)",
                      "rgba(0, 255, 255, 1)",
                      "rgba(0, 255, 255, 1)",
                      "rgba(0, 255, 255, 1)"
                    ],
                    borderWidth: 2
                  }
                ]
              };
              this.barChartOptions_Total = {
                responsive: false,
                maintainAspectRatio: false,
                legend: {
                  labels: {
                    fontColor: "white"
                  }
                },
                scales: {
                  xAxes: [
                    {
                      barPercentage: 1,
                      gridLines: {
                        display: true,
                        color: "rgba(0, 0, 0, 0.1)"
                      }
                    }
                  ],
                  yAxes: [
                    {
                      gridLines: {
                        display: true,
                        color: "rgba(0, 0, 0, 0.1)"
                      }
                    }
                  ]
                }
              };
              return fin;
            });
          return response;
        })
        .catch(error => {
          console.log("mau");
          return error;
        });
    },

    getTotal_2() {
      var despesas = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
      var lucros = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

      axios
        .get(
          "https://localhost:44320/api/Despesas/DespesasPorMes_Ano?ano=" +
            this.selected_ano_Total
        )
        .then(response => {
          response.data.forEach(element => {
            despesas[element.mes - 1] = element.valor;
          });

          axios
            .get(
              "https://localhost:44320/api/Vendas/VendasPorMes_Ano?ano=" +
                this.selected_ano_Total
            )
            .then(response => {
              response.data.forEach(element => {
                lucros[element.mes - 1] = element.valor;
              });
              return response;
            })
            .catch(error => {
              console.log("mau");
              return error;
            })
            .finally(fin => {
              this.lineChartData = {
                labels: [
                  "Janeiro",
                  "Fevereiro",
                  "Março",
                  "Abril",
                  "Maio",
                  "Junho",
                  "Julho",
                  "Agosto",
                  "Setembro",
                  "Outubro",
                  "Novembro",
                  "Dezembro"
                ],
                datasets: [
                  {
                    label: "Despesas",
                    backgroundColor: "rgba(255, 99, 132, 0.1)",
                    borderColor: "rgba(255, 99, 132, 1)",
                    borderWidth: 2,
                    data: despesas
                  },
                  {
                    label: "Lucros",
                    backgroundColor: "rgba(151,187,205,0.2)",
                    borderColor: "rgba(151,187,205,1)",
                    borderWidth: 2,
                    data: lucros
                  }
                ]
              };
              this.lineChartOptions = {
                responsive: false,
                maintainAspectRatio: false,
                legend: {
                  labels: {
                    fontColor: "white"
                  }
                },
                scales: {
                  xAxes: [
                    {
                      gridLines: {
                        display: true,
                        color: "rgba(0, 0, 0, 0.1)"
                      }
                    }
                  ],
                  yAxes: [
                    {
                      gridLines: {
                        display: true,
                        color: "rgba(0, 0, 0, 0.1)"
                      }
                    }
                  ]
                }
              };
              return fin;
            });
          return response;
        })
        .catch(error => {
          console.log("mau");
          return error;
        });
    },
    getTotalDespesas() {
      axios
        .get(
          "https://localhost:44320/api/Despesas/Total_Ano?ano=" +
            this.selected_ano_Total
        )
        .then(response => {
          this.total_despesas = response.data;
          this.total=parseFloat(this.total_lucros)-parseFloat(this.total_despesas);
          return response;
        })
        .catch(error => {
          console.log("mau");
          return error;
        });
    },
    getTotalLucros() {
      axios
        .get(
          "https://localhost:44320/api/Vendas/Total_Ano?ano=" +
            this.selected_ano_Total
        )
        .then(response => {
          this.total_lucros = response.data;
          this.total=parseFloat(this.total_lucros)-parseFloat(this.total_despesas);
          return response;
        })
        .catch(error => {
          console.log("mau");
          return error;
        });
    }
  }
};
</script>

<style scoped>
h1 {
  text-align: center;
  color: white;
}

.label {
  color: white !important;
}
h2 {
  color: #46bfbd;
  text-align: center;
  size: 25;
  display: true;
}

.listgroup .list-group-item {
  background-color: #222222;
  border-top: 1px solid #46bfbd;
  border-left-color: #46bfbd;
  border-right-color: #46bfbd;
  color: white;
}

.listgroup .list-group-item:hover {
  background-color: #46bfbd;
}

.custom-select {
  background-color: #222222;
  border-top: 1px solid #46bfbd;
  border-left-color: #46bfbd;
  border-right-color: #46bfbd;
  border-block-end-color: #46bfbd;
  color: white;
}

.form-control {
  background-color: #222222;
  border-top: 1px solid #46bfbd;
  border-left-color: #46bfbd;
  border-right-color: #46bfbd;
  border-block-end-color: #46bfbd;
  color: white;
}

.form-control:hover {
  background-color: #46bfbd;

  color: white;
}
.list_group_faturas {
  overflow-y: auto;
  height: 430px;
}
h5 {
  color: #2a7574;
  text-align: center;
}
</style>
