
<template>
  <div class="dashboard">
    <b-navbar toggleable type="dark" variant="info">
      <b-navbar-brand href="#">DashBoard</b-navbar-brand>

      <b-navbar-toggle target="navbar-toggle-collapse">
        <template v-slot:default="{ expanded }">
          <b-icon v-if="expanded" icon="list"></b-icon>
          <b-icon v-else icon="list"></b-icon>
        </template>
      </b-navbar-toggle>

      <b-collapse id="navbar-toggle-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item tag="router-link" :to="{ path: '/gestorvendas' }">Gestor de Vendas</b-nav-item>
          <b-nav-item tag="router-link" :to="{ path: '/gestorcompras' }">Gestor de Compras</b-nav-item>
          <b-nav-item tag="router-link" :to="{ path: '/ceo' }">CEO</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>

    <router-view/>
  </div>
</template>


<script>
export default {
  name: "DashBoardPage",
  data() {
    return {};
  },
  created() {
    this.$router.push({ path: "/gestorvendas" });
  }
};
</script>
<style >
nav .navbar-nav li a{
  color: white !important;
  }
</style>