<template>
  <div>
    <h1 class="m-4">Gestor de Vendas</h1>
    <div class="row mx-3 mb-5">
      <div class="col d-flex justify-content-center">
        <div class="text-center">
          <h2 class="titulo mb-4">Vendas relativas a um Ano (em Euros)</h2>
          <h6>Valor total de vendas relativas a um ano: {{total_lucros}}€</h6>
          <br/>
          <mdb-bar-chart
            :data="barChartData_Vendas"
            :options="barChartOptions_Vendas"
            :width="600"
            :height="500"
          ></mdb-bar-chart>
          <div>
            <label class="label">Escolher ano:</label>
            <select
              v-model="selected_ano_Vendas"
              class="custom-select"
              @change="getVendas(), getTotalLucros()"
            >
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col d-flex justify-content-center">
        <div class="w-100">
          <h2 class="titulo mb-4">Lista de Faturas das Vendas por Mês (em Euros)</h2>
          <label class="label mb-2">Escolher ano:</label>
          <select v-model="selected_ano_Faturas" class="custom-select mb-2" @change="getFaturas()">
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
          </select>
          <label class="label mb-2">Escolher mês:</label>
          <select v-model="selected_mes_Faturas" class="custom-select mb-4" @change="getFaturas()">
            <option value="0"></option>
            <option value="1">Janeiro</option>
            <option value="2">Fevereiro</option>
            <option value="3">Março</option>
            <option value="4">Abril</option>
            <option value="5">Maio</option>
            <option value="6">Junho</option>
            <option value="7">Julho</option>
            <option value="8">Agosto</option>
            <option value="9">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
          </select>
          <div class="text-left list_group_faturas">
            <mdb-list-group
              flush
              v-for="fatura in faturas_Ano_Mes"
              :key="fatura.id"
              class="listgroup"
            >
              <mdb-list-group-item>
                <div style="width:100%">
                  <div class="d-flex justify-content-between">
                    <span>
                      <b>Numero da Fatura:</b>
                      {{fatura.id}}
                    </span>
                    <small>
                      <b>Total:</b>
                      {{fatura.valor}} €
                    </small>
                  </div>
                  <div>
                    <span class="mr-3">
                      <b>Data:</b>
                      {{fatura.data}}
                    </span>
                    <span>
                      <b>Cliente:</b>
                      {{fatura.cliente}}
                    </span>
                  </div>
                </div>
              </mdb-list-group-item>
            </mdb-list-group>
          </div>
        </div>
      </div>
    </div>

    <div class="row mx-3 mb-5">
      <div class="col d-flex justify-content-center">
        <div>
          <h2 class="titulo mb-4">Top Clientes (em Euros)</h2>
          <mdb-horizontal-bar-chart
            :data="horizontalBarChartData"
            :options="horizontalBarChartOptions"
            :width="600"
            :height="300"
          ></mdb-horizontal-bar-chart>
          <div>
            <label class="label">Escolher ano:</label>
            <select
              v-model="selected_ano_TopClientes"
              class="custom-select"
              @change="getTopClientes()"
            >
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="w-100">
          <h2 class="titulo mb-4">Lista de Faturas de um Cliente (por Ano)</h2>
          <label class="label">Cliente:</label>
          <input type="text" v-model="nomeCliente" class="form-control" />
          <label class="label">Escolher Ano:</label>
          <div class="d-flex mb-2">
            <select
              v-model="selected_ano_Cliente"
              class="custom-select"
              @change="getFaturas_Cliente()"
            >
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
            </select>
            <button class="btn btn-outline-info ml-3" @click="getFaturas_Cliente()">Visualizar</button>
          </div>
          <div class="text-left list_group_faturas">
            <mdb-list-group
              flush
              v-for="fatur in faturas_Cliente"
              :key="fatur.id"
              class="listgroup"
            >
              <mdb-list-group-item>
                <div style="width:100%">
                  <div class="d-flex justify-content-between">
                    <span>
                      <b>Numero da Fatura:</b>
                      {{fatur.id}}
                    </span>
                    <small>
                      <b>Total:</b>
                      {{fatur.valor}} €
                    </small>
                  </div>
                  <div>
                    <span class="mr-3">
                      <b>Data:</b>
                      {{fatur.data}}
                    </span>
                    <span class="ml-3">
                      <b>Cliente:</b>
                      {{fatur.cliente}}
                    </span>
                  </div>
                </div>
              </mdb-list-group-item>
            </mdb-list-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const axios = require("axios");

import {
  mdbBarChart,
  mdbListGroup,
  mdbListGroupItem,
  mdbHorizontalBarChart
} from "mdbvue";

export default {
  name: "ChartPage",
  components: {
    mdbBarChart,
    mdbListGroup,
    mdbListGroupItem,
    mdbHorizontalBarChart
  },
  data() {
    return {
      barChartData_Vendas: null,
      barChartOptions_Vendas: null,


      horizontalBarChartData:null,
      horizontalBarChartOptions:null,

      selected_ano_Vendas: "2020",

      selected_ano_Faturas: "2020",
      selected_mes_Faturas: "5",

      selected_ano_TopClientes: "2020",

      selected_ano_Cliente: "2020",
      nomeCliente: "Loja do Barata",

      total_lucros: "0",

      faturas_Ano_Mes: [],
      faturas_Cliente: []
    };
  },
  created() {
    this.getTotalLucros();
    this.getVendas();
    this.getTopClientes();
    this.getFaturas();
    this.getFaturas_Cliente();
  },
  methods: {
    getTotalLucros() {
      axios
        .get(
          "https://localhost:44320/api/Vendas/Total_Ano?ano=" +
            this.selected_ano_Vendas
        )
        .then(response => {
          this.total_lucros = response.data;
          return response;
        })
        .catch(error => {
          console.log("mau");
          return error;
        });
    },
    getVendas() {
      var quantidades = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

      axios
        .get(
          "https://localhost:44320/api/Vendas/VendasPorMes_Ano?ano=" +
            this.selected_ano_Vendas
        )
        .then(response => {
          response.data.forEach(element => {
            quantidades[element.mes - 1] = element.valor;
          });
          return response;
        })
        .catch(error => {
          console.log("mau");
          return error;
        })
        .finally(fin => {
          this.barChartData_Vendas = {
            labels: [
              "Janeiro",
              "Fevereiro",
              "Março",
              "Abril",
              "Maio",
              "Junho",
              "Julho",
              "Agosto",
              "Setembro",
              "Outubro",
              "Novembro",
              "Dezembro"
            ],
            datasets: [
              {
                label: this.selected_ano_Vendas,
                data: quantidades,
                backgroundColor: [
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)",
                  "rgba(75, 192, 192, 0.2)",
                  "rgba(153, 102, 255, 0.2)",
                  "rgba(255, 159, 64, 0.2)",
                  "rgba(0, 255, 255, 0.2)",
                  "rgba(255, 0, 0, 0.2)",
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)",
                  "rgba(75, 192, 192, 0.2)"
                ],
                borderColor: [
                  "rgba(255,99,132,1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)",
                  "rgba(153, 102, 255, 1)",
                  "rgba(255, 159, 64, 1)",
                  "rgba(0, 255, 255, 1)",
                  "rgba(255, 0, 0, 1)",
                  "rgba(255,99,132,1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)"
                ],
                borderWidth: 1
              }
            ]
          };
          this.barChartOptions_Vendas = {
            responsive: false,
            maintainAspectRatio: false,
            scales: {
              xAxes: [
                {
                  barPercentage: 1,
                  gridLines: {
                    display: true,
                    color: "rgba(0, 0, 0, 0.1)"
                  }
                }
              ],
              yAxes: [
                {
                  gridLines: {
                    display: true,
                    color: "rgba(0, 0, 0, 0.1)"
                  }
                }
              ]
            }
          };
          return fin;
        });
    },

    getTopClientes() {
      var nomes = [];
      var quantidades = [];

      axios
        .get(
          "https://localhost:44320/api/Clientes/TopClientes_Ano?ano=" +
            this.selected_ano_TopClientes
        )
        .then(response => {
          response.data.forEach(element => {
            nomes.push(element.nome);
            quantidades.push(element.valor);
          });
          return response;
        })
        .catch(error => {
          console.log("mau");
          return error;
        })
        .finally(fin => {
          this.horizontalBarChartData = {
            labels: nomes,
            datasets: [
              {
                label:this.selected_ano_TopClientes,
                data: quantidades,
                backgroundColor: [
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)",
                  "rgba(75, 192, 192, 0.2)",
                  "rgba(153, 102, 255, 0.2)",
                  "rgba(255, 159, 64, 0.2)",
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)"
                ],
                borderColor: [
                  "rgba(255,99,132,1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)",
                  "rgba(153, 102, 255, 1)",
                  "rgba(255, 159, 64, 1)",
                  "rgba(255,99,132,1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)"
                ],
                borderWidth:1
              }
            ]
          };
          this.horizontalBarChartOptions = {
            responsive: false,
            maintainAspectRatio: false,
            scales: {
              xAxes: [
                {
                  barPercentage: 1,
                  gridLines: {
                    display: true,
                    color: "rgba(0, 0, 0, 0.1)"
                  }
                }
              ],
              yAxes: [
                {
                  gridLines: {
                    display: true,
                    color: "rgba(0, 0, 0, 0.1)"
                  }
                }
              ]
          }
          };
          return fin;
        });
    },
    getFaturas() {
      this.faturas_Ano_Mes = [];

      axios
        .get(
          "https://localhost:44320/api/Faturas/Vendas_Ano_Mes?ano=" +
            this.selected_ano_Faturas +
            "&mes=" +
            this.selected_mes_Faturas
        )
        .then(response => {
          response.data.forEach(element => {
            this.faturas_Ano_Mes.push(element);
          });

          return response;
        })
        .catch(error => {
          console.log("mau");
          return error;
        });
    },
    getFaturas_Cliente() {
      this.faturas_Cliente = [];

      axios
        .get(
          "https://localhost:44320/api/Faturas/Clientes_Nome_Ano?nome=" +
            this.nomeCliente +
            "&ano=" +
            this.selected_ano_Cliente
        )
        .then(response => {
          response.data.forEach(element => {
            console.log(element);
            this.faturas_Cliente.push(element);
          });
          console.log(this.faturas_Cliente);
          return response;
        })
        .catch(error => {
          console.log("mau");
          return error;
        });
    }
  }
};
</script>

<style scoped>
h1 {
  text-align: center;
  color: white;
}

.label {
  color: white !important;
}
h2 {
  color: #46bfbd;
  text-align: center;
  size: 25;
  display: true;
}

.listgroup .list-group-item {
  background-color: #222222;
  border-top: 1px solid #46bfbd;
  border-left-color: #46bfbd;
  border-right-color: #46bfbd;
  color: white;
}

.listgroup .list-group-item:hover {
  background-color: #46bfbd;
}

.custom-select {
  background-color: #222222;
  border-top: 1px solid #46bfbd;
  border-left-color: #46bfbd;
  border-right-color: #46bfbd;
  border-block-end-color: #46bfbd;
  color: white;
}

.form-control {
  background-color: #222222;
  border-top: 1px solid #46bfbd;
  border-left-color: #46bfbd;
  border-right-color: #46bfbd;
  border-block-end-color: #46bfbd;
  color: white;
}

.form-control:hover {
  background-color: #46bfbd;

  color: white;
}
.list_group_faturas {
  overflow-y: auto;
  height: 430px;
}

h6 {
  color: #2a7574;
  text-align: center;
}
</style>
