<template>
  <div>
    <h1 class="m-4">Gestor de Compras</h1>
    <div class="row mx-3 mb-5">
      <div class="col d-flex justify-content-center">
        <div class="text-center">
          <h2 class="titulo mb-4">Compras relativas a um Ano (em Euros)</h2>
          <h6>Valor total das Compras relativas a um ano: {{total_despesas}}€</h6>
          <br />
          <mdb-bar-chart
            :data="barChartData_Despesas"
            :options="barChartOptions_Despesas"
            :width="600"
            :height="500"
          ></mdb-bar-chart>
          <div>
            <label class="label">Escolher ano:</label>
            <select
              v-model="selected_ano_Despesas"
              class="custom-select"
              @change="getDespesas(), getTotalDespesas()"
            >
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col d-flex justify-content-center">
        <div class="w-100">
          <h2 class="titulo mb-4">Listagem de Faturas de Compras por Mês</h2>
          <label class="label">Escolher ano:</label>
          <select v-model="selected_ano_Faturas" class="custom-select" @change="getFaturas()">
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
          </select>
          <label class="label">Escolher mês:</label>
          <select v-model="selected_mes_Faturas" class="custom-select mb-2" @change="getFaturas()">
            <option value="0"></option>
            <option value="1">Janeiro</option>
            <option value="2">Fevereiro</option>
            <option value="3">Março</option>
            <option value="4">Abril</option>
            <option value="5">Maio</option>
            <option value="6">Junho</option>
            <option value="7">Julho</option>
            <option value="8">Agosto</option>
            <option value="9">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
          </select>
          <div class="text-left list_group_faturas" style="height: 400px; ">
            <mdb-list-group
              flush
              v-for="fatura in faturas_Ano_Mes"
              :key="fatura.id"
              class="listgroup"
            >
              <mdb-list-group-item>
                <div style="width:100%">
                  <div class="d-flex justify-content-between">
                    <span>
                      <b>Numero da Fatura:</b>
                      {{fatura.id}}
                    </span>
                    <small>
                      <b>Total:</b>
                      {{fatura.valor}} €
                    </small>
                  </div>
                  <div>
                    <span class="mr-3">
                      <b>Data:</b>
                      {{fatura.data}}
                    </span>
                    <span>
                      <b>Documento:</b>
                      {{fatura.documento}}
                    </span>
                  </div>
                </div>
              </mdb-list-group-item>
            </mdb-list-group>
          </div>
        </div>
      </div>
    </div>

    <div class="row mx-3 mb-5">
      <div class="col d-flex justify-content-center">
        <div>
          <h2 class="titulo mb-4">Top 5 produtos mais vendidos por Mês (em Unidade)</h2>
          <div class="col d-flex justify-content-center">
            <mdb-pie-chart
              data-labels
              :data="pieChartData"
              :options="pieChartOptions"
              :width="600"
              :height="500"
            />
          </div>
          <div>
            <label class="ano_Selecionado">Escolher ano:</label>
            <select
              v-model="selected_ano_topItems"
              class="browser-default custom-select"
              @change="getBest5Products()"
            >
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
            </select>
            <label class="mes_selecionado">Escolher mês:</label>
            <select
              v-model="selected_mes_topItems"
              class="browser-default custom-select"
              @change="getBest5Products()"
            >
              <option value="0"></option>
              <option value="1">Janeiro</option>
              <option value="2">Fevereiro</option>
              <option value="3">Março</option>
              <option value="4">Abril</option>
              <option value="5">Maio</option>
              <option value="6">Junho</option>
              <option value="7">Julho</option>
              <option value="8">Agosto</option>
              <option value="9">Setembro</option>
              <option value="10">Outubro</option>
              <option value="11">Novembro</option>
              <option value="12">Dezembro</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
const axios = require("axios");

import {
  mdbPieChart,
  mdbBarChart,
  mdbListGroup,
  mdbListGroupItem
} from "mdbvue";

export default {
  name: "ChartPage",
  components: {
    mdbPieChart,
    mdbBarChart,
    mdbListGroup,
    mdbListGroupItem
  },
  data() {
    return {
      barChartData_Despesas: null,
      barChartOptions_Despesas: null,
      selected_ano_Despesas: "2020",

      selected_ano_Faturas: "2020",
      selected_mes_Faturas: "5",

      pieChartData: null,
      pieChartOptions: null,

      selected_ano_topItems: "2020",
      selected_mes_topItems: "6",

      total_despesas: "0",

      faturas_Ano_Mes: []
    };
  },
  created() {
    this.getTotalDespesas();
    this.getBest5Products();
    this.getDespesas();
    this.getFaturas();
  },
  methods: {
    getTotalDespesas() {
      axios
        .get(
          "https://localhost:44320/api/Despesas/Total_Ano?ano=" +
            this.selected_ano_Despesas
        )
        .then(response => {
          this.total_despesas = response.data;
          return response;
        })
        .catch(error => {
          console.log("mau");
          return error;
        });
    },
    getBest5Products() {
      //request
      var nomes = [];
      var quantidades = [];
      axios
        .get(
          "https://localhost:44320/api/Produtos/Top5ProductosVendidos_Ano_Mes?ano=" +
            this.selected_ano_topItems +
            "&mes=" +
            this.selected_mes_topItems
        )
        .then(response => {
          response.data.forEach(element => {
            nomes.push(element.description);
            quantidades.push(element.quantidade);
          });
          return response;
        })
        .catch(error => {
          console.log("mau");
          return error;
        })
        .finally(fin => {
          this.pieChartData = {
            labels: nomes,
            datasets: [
              {
                data: quantidades,
                backgroundColor: [
                  "#F7464A",
                  "#46BFBD",
                  "#FDB45C",
                  "#949FB1",
                  "#4D5360"
                ],
                hoverBackgroundColor: [
                  "#FF5A5E",
                  "#5AD3D1",
                  "#FFC870",
                  "#A8B3C5",
                  "#616774"
                ]
              }
            ]
          };
          this.pieChartOptions = {
            legend: {
              labels: {
                fontColor: "white",
                fontSize: 14
              },
              position: "bottom"
            },
            responsive: false,
            maintainAspectRatio: false,
            plugins: {
              datalabels: {
                color: "white",
                align: "center",
                font: {
                  size: 16
                },
                formatter: value => {
                  const [dataset] = this.pieChartData.datasets;
                  const setValue = dataset.data.reduce((a, b) => a + b);

                  return `${Math.round((value / setValue) * 100)}%`;
                }
              }
            }
          };
          return fin;
        });
    },
    getDespesas() {
      var quantidades = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

      axios
        .get(
          "https://localhost:44320/api/Despesas/DespesasPorMes_Ano?ano=" +
            this.selected_ano_Despesas
        )
        .then(response => {
          response.data.forEach(element => {
            quantidades[element.mes - 1] = element.valor;
          });
          return response;
        })
        .catch(error => {
          console.log("mau");
          return error;
        })
        .finally(fin => {
          this.barChartData_Despesas = {
            labels: [
              "Janeiro",
              "Fevereiro",
              "Março",
              "Abril",
              "Maio",
              "Junho",
              "Julho",
              "Agosto",
              "Setembro",
              "Outubro",
              "Novembro",
              "Dezembro"
            ],
            datasets: [
              {
                label: this.selected_ano_Despesas,
                data: quantidades,
                backgroundColor: [
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)",
                  "rgba(75, 192, 192, 0.2)",
                  "rgba(153, 102, 255, 0.2)",
                  "rgba(255, 159, 64, 0.2)",
                  "rgba(0, 255, 255, 0.2)",
                  "rgba(255, 0, 0, 0.2)",
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)",
                  "rgba(75, 192, 192, 0.2)"
                ],
                borderColor: [
                  "rgba(255,99,132,1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)",
                  "rgba(153, 102, 255, 1)",
                  "rgba(255, 159, 64, 1)",
                  "rgba(0, 255, 255, 1)",
                  "rgba(255, 0, 0, 1)",
                  "rgba(255,99,132,1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)"
                ],
                borderWidth: 1
              }
            ]
          };
          this.barChartOptions_Despesas = {
            responsive: false,
            maintainAspectRatio: false,
            scales: {
              xAxes: [
                {
                  barPercentage: 1,
                  gridLines: {
                    display: true,
                    color: "rgba(0, 0, 0, 0.1)"
                  }
                }
              ],
              yAxes: [
                {
                  gridLines: {
                    display: true,
                    color: "rgba(0, 0, 0, 0.1)"
                  }
                }
              ]
            }
          };
          return fin;
        });
    },
    getFaturas() {
      this.faturas_Ano_Mes = [];
      axios
        .get(
          "https://localhost:44320/api/Faturas/Despesas_Ano_Mes?ano=" +
            this.selected_ano_Faturas +
            "&mes=" +
            this.selected_mes_Faturas
        )
        .then(response => {
          response.data.forEach(element => {
            this.faturas_Ano_Mes.push(element);
          });

          return response;
        })
        .catch(error => {
          console.log("mau");
          return error;
        });
    }
  }
};
</script>

<style scoped>
h1 {
  text-align: center;
  color: white;
}

.label {
  color: white !important;
}
h2 {
  color: #46bfbd;
  text-align: center;
  size: 25;
  display: true;
}

.listgroup .list-group-item {
  background-color: #222222;
  border-top: 1px solid #46bfbd;
  border-left-color: #46bfbd;
  border-right-color: #46bfbd;
  color: white;
}

.listgroup .list-group-item:hover {
  background-color: #46bfbd;
}

.custom-select {
  background-color: #222222;
  border-top: 1px solid #46bfbd;
  border-left-color: #46bfbd;
  border-right-color: #46bfbd;
  border-block-end-color: #46bfbd;
  color: white;
}

.form-control {
  background-color: #222222;
  border-top: 1px solid #46bfbd;
  border-left-color: #46bfbd;
  border-right-color: #46bfbd;
  border-block-end-color: #46bfbd;
  color: white;
}

.form-control:hover {
  background-color: #46bfbd;

  color: white;
}
.list_group_faturas {
  overflow-y: auto;
  height: 430px;
}
h6 {
  color: #2a7574;
  text-align: center;
}
</style>
